html, body {
    max-width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, .container {
    height: 100vh;
    width: 100vw;
}

.container, .side-bar, .content {
    display: flex;
    flex-direction: row;
}

.cart-container {
    width: 70vw;
    height: 100vh;
    margin-bottom: 70px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
}

.side-bar, .content {
    padding: 2%;
}

.side-bar {
    background-color: #1e293b;
    flex-direction: column;
    text-align: center;
    box-shadow: 5px 0 5px -5px #333;
    gap: 15%;
    font-size: 20px;
    width: 20vw;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    background-color: cornflowerblue;
    width: 80vw;
    overflow: auto;
}

ul {
    list-style-type: none;
}

p {
    width: fit-content;
}

.shop-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    gap: 5px;
    border: 3px solid black;
    margin: 5px;
    padding: 5px;
    box-shadow: 5px 0 5px -5px #333;
}

.buyed-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    gap: 10px;
    border: 3px solid black;
    box-shadow: 5px 0 5px -5px #333;
    padding: 5px;
    margin: 5px;
    width: 70%;
}

.img-all {
    float: left;
    height: 80px;
    width: 80px;
}

.img-shop {
    float: left;
    height: 80px;
    width: 90px;
}

.item-title {
    display: flex;
    align-items: center;
    overflow: auto;
    text-overflow:ellipsis;
    height: 40%;
    width: 100%;
    font-size: 80%;
}

input {
    width: 30px;
}

a {
    font-weight: bold;
    color: white;
}

a:link {
    text-decoration: none;
}

a:hover {
    background-color: black ;
}

a:active {
    color:aqua;
}

button {
    cursor: pointer;
    border: none;
    background-color: #1e293b;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}

button:hover {
    transition: 0.1s;
    box-shadow: 1px 1px 5px black;
}

button:active {
    border: 1px solid #1e293b;
}